@use '@/variables' as *;

.button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px;
  height: 35px;
  width: 35px;
  translate: 20% -20%;
  border-radius: 50%;
  border: 2px solid $main_black_font_color;
  background-color: $modal_box_bg_color;
  transition: background-color .06s ease;
  color: $main_black_font_color;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  &:hover {
    background-color: #b4b4b4;
    box-shadow: 0 0 5px #5c5c5ce1
  }
  &:active {
    background-color: #898989;
  }
}