@use '@/variables' as *;

.container {
  box-sizing: border-box;
  padding: 20px;
  height: 160px;
  width: 85vw;
  background-color: $modal_box_bg_color;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0px 0px 20px #212121;
  transition: background-color .06s ease;

  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  text-align: center;
  font-weight: 700;
  font-size: 18px;

  .password {
    cursor: pointer;
    width: 70%;
    background-color: #D2E4FF;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;

    .copiedTooltip {
      cursor: default;
      width: 60%;
      background-color: #555;
      font-size: 14px;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 4px;
      position: absolute;
      z-index: 1;
      bottom: 65%;
      left: 50%;
      translate: -50% 0;
      opacity: 0;
      transition: opacity 0.3s;

      &.show {
        opacity: 1;
      }
    }
  }
}