@use '@/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .title {
    font-size: 24px;
    margin: 0;
  }

  .emptyMessage {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 450;
    color: #505050;
  }

  .productsContainer {
    width: calc(85vw - 20px);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .buttonContainer {
    margin-top: 15px;
    position: relative;

    .basketError {
      color: red;
      font-size: 14px;
      position: absolute;
      top: 40px;
      text-align: center;
      width: 100%;
      font-weight: 500;
    }

  }
}